@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Drafting";
  src: url("/fonts/Drafting.woff2") format("woff2");
  font-style: monospace;
  font-weight: 100 900;
  font-display: block;
}

@font-face {
  font-family: "Jetbrains";
  src: url("/fonts/Jetbrains.woff2") format("woff2");
  font-style: monospace;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Instrument";
  src: url("/fonts/Instrument.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-mono: "Drafting", "monospace";
  --font-jetbrains: "Jetbrains", "monospace";
  --font-serif: "Instrument", "serif";
  --font-sans: "Satoshi", "sans-serif";
}

::selection {
  background: #c4d8d0;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background: #345e12;
  }
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
