---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page navTitle="Blog">
  <h1>Blog</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>
            <article class="post">
              <time datetime={post.data.pubDate.toISOString()}>
                {new Date(post.data.pubDate).toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
              <h2>{post.data.title}</h2>
              <p>{post.data.description}</p>
            </article>
          </a>
        </li>
      ))
    }
  </ul>
</Page>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  h2 {
    margin: 4px 0 0 0;
    font-size: 18px;
  }

  li {
    margin-top: 32px;
  }

  a:hover h2 {
    color: var(--color-1);
  }

  p {
    margin-top: 8px;
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 24px;
    }
  }
</style>
