---
import Icon from "astro-icon";
import Page from "../layouts/Page.astro";
---

<Page navTitle="Contact">
  <h1>Contact me</h1>
  <p>
    I'm always available at
    <a class="arrow-link" href="mailto:contact@mrlaude.com">
      contact@mrlaude.com
      <Icon name="chain" />
    </a>
  </p>
  <p>Other platforms you can find me on:</p>
  <ul>
    <li>
      <a class="arrow-link" href="https://github.com/MartinRybergLaude"
        >Github<Icon name="chain" /></a
      >
    </li>
    <li>
      <a
        class="arrow-link"
        href="https://www.linkedin.com/in/martinryberglaude/"
        >Linkedin<Icon name="chain" /></a
      >
    </li>
    <li>
      <a rel="me" class="arrow-link" href="https://mastodon.green/@mrlaude"
        >Mastodon<Icon name="chain" /></a
      >
    </li>
  </ul>
  <p>I look forward to hearing from you!</p>
</Page>
