---
import Page from "../layouts/Page.astro";
import { Icon } from "astro-icon";
import { Parallax } from "../components/Parallax";
import { getCollection } from "astro:content";

const posts = await await getCollection("blog");
const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<Page title="Home">
  <h1>Martin Ryberg Laude</h1>
  <section class="cta fw">
    <div class="cta-content">
      <p>
        I develop websites & web apps with a focus on performance,
        accessibility, and user experience.
      </p>
      <a href="/contact" class="link">Interested?</a>
      <a href="/projects" class="btn">My work</a>
    </div>
    <Parallax client:load />
  </section>
  <section class="posts">
    <h2>Latest posts</h2>
    <ul>
      {
        sortedPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>
              <article class="post">
                <h3>{post.data.title}</h3>
                <time datetime={post.data.pubDate.toISOString()}>
                  {new Date(post.data.pubDate).toLocaleString("en-US", {
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                  })}
                </time>
              </article>
            </a>
          </li>
        ))
      }
    </ul>
    <a class="arrow-link bottom-link" href="/blog">
      See all posts
      <Icon name="arrow_right" />
    </a>
  </section>
  <section class="fw projects">
    <h2>Featured projects</h2>
    <ul class="horizontal-scroll">
      <li class="project-bg bg-1">
        <a class="project" href="https://github.com/MartinRybergLaude/Solsken">
          <img src="/images/solsken.svg" height={80} width={80} alt="" />
          <h3>Solsken</h3>
        </a>
      </li>
      <li class="project-bg bg-2">
        <a
          class="project"
          href="https://github.com/MartinRybergLaude/GameSquad"
        >
          <img src="/images/gamesquad.svg" height={80} width={80} alt="" />
          <h3>GameSquad</h3>
        </a>
      </li>
      <li class="project-bg bg-3">
        <a class="project" href="https://github.com/MartinRybergLaude/Avodoro">
          <img src="/images/avodoro.svg" height={80} width={80} alt="" />
          <h3>Avodoro</h3>
        </a>
      </li>
      <li class="project-bg bg-4">
        <a
          class="project"
          href="https://github.com/MartinRybergLaude/QuantumSnakeConsole"
        >
          <img src="/images/quantum.svg" height={80} width={80} alt="" />
          <h3>Quantum Snake</h3>
        </a>
      </li>
    </ul>
    <a class="arrow-link bottom-link" href="/projects">
      See all projects
      <Icon name="arrow_right" />
    </a>
  </section>
</Page>

<style>
  h1 {
    font-size: 64px;
    display: inline-block;
    word-spacing: 100vw;
    font-family: var(--font-serif);
    font-weight: 300;
    animation: fadein 600ms;
    position: relative;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .btn {
    margin-top: 32px;
    width: 100%;
  }
  .cta img {
    border-radius: var(--radius);
    margin: 0;
    width: 30%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 32px;
  }
  p {
    margin: 0;
  }
  .cta {
    position: relative;
    margin-top: 200px;
    width: 100%;
  }
  .cta-content {
    padding: var(--page-padding);
  }
  .cta-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
  }
  .link {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-1);
  }
  .posts {
    margin-top: 16px;
  }
  .post {
    margin-top: 32px;
    cursor: pointer;
    transition: transform 200ms ease;
  }
  .post:hover {
    transform: translateX(-4px);
  }
  .post h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .bottom-link {
    margin-top: 16px;
  }
  .projects {
    margin-top: 64px;
  }
  .projects h2,
  .projects .arrow-link {
    margin: var(--padding) 0;
  }
  .horizontal-scroll {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
  }
  .project-bg {
    border-radius: var(--radius);
    width: 144px;
    height: 200px;
    padding: 4px;
    flex: 0 0 auto;
    transition: all 200ms ease;
  }
  .bg-1 {
    background: linear-gradient(300deg, #ff8228, #ffd386);
  }
  .bg-2 {
    background: linear-gradient(300deg, #ee6148, #fa5d73);
  }
  .bg-3 {
    background: linear-gradient(300deg, #3dba7c, #f9e9b1);
  }
  .bg-4 {
    background: linear-gradient(300deg, #000, #6d6d6d);
  }
  .project {
    width: 100%;
    height: 100%;
    padding: 16px;
    background: var(--color-bg-light);
    border-radius: calc(var(--radius) - 4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .project-bg:hover {
    opacity: 0.8;
  }
  .project img {
    padding: 0;
    margin: 16px 0 0 0;
  }
  .project h3 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }
  .tags li {
    font-size: 14px;
    background-color: var(--color-1);
    color: black;
    padding: 0 6px;
    border-radius: 4px;
  }
  @media (min-width: 600px) {
    h1 {
      margin-left: -8px;
      font-size: 140px;
    }
    .cta-content {
      width: 50%;
    }
    .cta-content p {
      font-size: 19px;
    }
    .cta {
      margin-top: 64px;
    }
    .cta img {
      width: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    .posts {
      margin-top: 80px;
    }
    .projects h2,
    .projects .arrow-link {
      margin: var(--padding);
    }
    .horizontal-scroll {
      margin-inline: 16px;
      gap: 32px;
      justify-content: space-between;
    }
    .project-bg {
      width: 200px;
      height: 260px;
    }
    .project h3 {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }

  @media (min-width: 920px) {
    h1 {
      word-spacing: initial;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
      top: 32px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
</style>
