---
import Page from "../layouts/Page.astro";
import { Icon } from "astro-icon";
import { Parallax } from "../components/Parallax";

const posts = await Astro.glob("./blog/*.{md,mdx}");
const sortedPosts = posts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<Page title="Home">
  <h1>Martin Ryberg Laude</h1>
  <div class="cta full-width">
    <div class="cta-content">
      <p>
        I develop websites & web apps with a focus on performance,
        accessibility, and user experience.
      </p>
      <a href="/contact" class="link">Interested?</a>
      <a href="/projects" class="btn">My work</a>
    </div>
    <Parallax client:load />
  </div>
  <div class="posts">
    <h2>Latest posts</h2>
    <ul>
      {
        sortedPosts.map((post) => (
          <li>
            <a href={`/blog/${post.frontmatter.slug}`}>
              <article class="post">
                <h3>{post.frontmatter.title}</h3>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleString("en-US", {
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                  })}
                </time>
              </article>
            </a>
          </li>
        ))
      }
    </ul>
    <a class="arrow-link" href="/blog">
      See all posts
      <Icon name="arrow_right" />
    </a>
  </div>
</Page>

<style>
  h1 {
    font-size: 58px;
    margin-left: -4px;
    display: inline-block;
    word-spacing: 100vw;
    font-family: "Butler", serif;
    font-weight: 300;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .btn {
    margin-top: 32px;
    width: 100%;
  }

  img {
    border-radius: var(--radius);
    margin: 0;
    width: 30%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 32px;
  }

  p {
    margin: 0;
  }

  .cta {
    margin-top: 64px;
    width: 100%;
  }

  .cta-content {
    padding: var(--padding);
  }

  .cta-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
  }

  .link {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-1);
  }

  .posts {
    margin-top: 64px;
  }

  .post {
    margin-top: 32px;
    cursor: pointer;
    transition: transform 200ms ease;
  }

  .post:hover {
    transform: translateX(-4px);
  }

  .post h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  @media (min-width: 600px) {
    h1 {
      margin-left: -8px;
      font-size: 140px;
    }

    .cta-content {
      width: 50%;
    }

    .cta-content p {
      font-size: 19px;
    }

    .cta {
      position: relative;
    }

    img {
      width: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  @media (min-width: 920px) {
    h1 {
      word-spacing: initial;
    }
  }
</style>
