---
import Page from "../layouts/Page.astro";
import fetchApi from "../lib/strapi";
import type Post from "../interfaces/post";
import Wideness from "../components/Wideness";

const posts = await fetchApi<Post[]>({
  endpoint: "lifeposts",
  wrappedByKey: "data",
});
posts?.sort((a, b) => {
  return (
    new Date(b.attributes.pubDate).getTime() -
    new Date(a.attributes.pubDate).getTime()
  );
});
---

<Page navTitle="Life">
  <Wideness client:load />
  <h1>Life blog</h1>
  <ul>
    {
      posts?.map((post) => (
        <li>
          <a href={`/life/${post.attributes.slug}`}>
            <article class="post">
              <time datetime={new Date(post.attributes.pubDate).toISOString()}>
                {new Date(post.attributes.pubDate).toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
              <h2>{post.attributes.title}</h2>
              <p>{post.attributes.description}</p>
            </article>
          </a>
        </li>
      ))
    }
  </ul>
</Page>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  h2 {
    margin: 4px 0 0 0;
    font-size: 18px;
  }

  li {
    margin-top: 32px;
  }

  a:hover h2 {
    color: var(--color-1);
  }

  p {
    margin-top: 8px;
  }

  @media (min-width: 600px) {
    h2 {
      font-size: 24px;
    }
  }
</style>
