---
import Icon from "astro-icon";
import Page from "../layouts/Page.astro";
import Wideness from "../components/Wideness";
---

<Page navTitle="Projects">
  <Wideness client:load />
  <h1>My projects</h1>
  <p>Here are some of my projects with related information.</p>
  <ul>
    <li>
      <img src="/images/solsken.svg" width={128} height={128} alt="" />
      <div>
        <h2>Solsken</h2>
        <p>Accessible and detailed weather globally.</p>
        <div class="links">
          <a class="arrow-link" href="https://solsken.app" target="_blank"
            >Live<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a class="arrow-link" href="/blog/solsken-app"
            >Blog post<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a
            class="arrow-link"
            href="https://github.com/MartinRybergLaude/Solsken"
            >Source<Icon name="chain" /></a
          >
        </div>
      </div>
    </li>
    <li>
      <img
        src="/images/ultrawider/icon-256.png"
        width={128}
        height={128}
        alt=""
        class="mac-icon"
      />
      <div>
        <h2>Ultrawider</h2>
        <p>Get rid of the black bars.</p>
        <div class="links">
          <a class="arrow-link" href="/ultrawider" target="_blank"
            >Download<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a class="arrow-link" href="/ultrawider" target="_blank"
            >Product page<Icon name="chain" /></a
          >
        </div>
      </div>
    </li>
    <li>
      <img src="/images/gamesquad.svg" width={128} height={128} alt="" />
      <div>
        <h2>GameSquad</h2>
        <p>Squad up and vote for what games to play.</p>
        <div class="links">
          <a class="arrow-link" href="https://gamesquad.win" target="_blank"
            >Live<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a class="arrow-link" href="/blog/gamesquad-app"
            >Blog post<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a
            class="arrow-link"
            href="https://github.com/MartinRybergLaude/GameSquad"
            >Source<Icon name="chain" /></a
          >
        </div>
      </div>
    </li>
    <li>
      <img src="/images/avodoro.svg" width={128} height={128} alt="" />
      <div>
        <h2>Avodoro</h2>
        <p>Lightweight offline-ready pomodoro timer.</p>
        <div class="links">
          <a
            class="arrow-link"
            href="https://avodoro.mrlaude.com"
            target="_blank">Live<Icon name="chain" /></a
          >
          <span class="dot">•</span>
          <a
            class="arrow-link"
            href="https://github.com/MartinRybergLaude/Avodoro"
            >Source<Icon name="chain" /></a
          >
        </div>
      </div>
    </li>
    <li>
      <img src="/images/quantum.svg" width={128} height={128} alt="" />
      <div>
        <h2>Quantum Snake</h2>
        <p>Outrun theme, enemy A* powered snake, all running in the console.</p>
        <div class="links">
          <a
            class="arrow-link"
            href="https://github.com/MartinRybergLaude/QuantumSnakeConsole"
            >Source<Icon name="chain" /></a
          >
        </div>
      </div>
    </li>
  </ul>
</Page>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  li img {
    height: 48px;
    width: 48px;
    margin-bottom: 16px;
    margin-top: 64px;
  }
  li:first-of-type img {
    margin-top: 32px;
  }
  div {
    margin-left: 0;
  }
  div p {
    margin-top: 16px;
  }
  h2 {
    margin: 0;
  }
  .dot {
    margin: 0 8px;
    color: var(--color-text-3);
  }
  .links {
    margin-top: 8px;
    user-select: none;
    font-size: 16px;
  }
  .links a {
    font-size: 16px;
  }

  .mac-icon {
    transform: scale(1.25);
  }

  @media (min-width: 600px) {
    li {
      flex-direction: row;
      align-items: center;
    }
    li img {
      height: 80px;
      width: 80px;
      margin: 32px 0 32px 0;
    }
    div:not(.links) {
      margin-left: 32px;
    }
    .links a {
      font-size: 18px;
    }
  }
</style>
