---
import Page from "../layouts/Page.astro";
---

<Page navTitle="Ultrawider">
  <h1>Privacy Policy for Ultrawider App</h1>

  <p><strong>Last Updated: 2023-12-02</strong></p>

  <p>
    Thank you for choosing Ultrawider. This Privacy Policy outlines our
    commitment to ensuring the privacy and security of your personal information
    while using our application. Please read this document carefully to
    understand our practices regarding your data.
  </p>

  <h2>1. Information We Do Not Collect</h2>

  <p>
    Ultrawider is designed to operate without collecting any personal data from
    its users. We do not gather, store, or process any information that could be
    used to identify you. This includes, but is not limited to:
  </p>

  <ul>
    <li>Personal details such as name, address, email, or phone number.</li>
    <li>Location data.</li>
    <li>Device information.</li>
  </ul>

  <h2>2. Usage of the App</h2>

  <p>
    Ultrawider focuses solely on providing a seamless and efficient user
    experience without compromising your privacy. We do not track your usage
    patterns, interactions within the app, or any other related data.
  </p>

  <h2>3. Permissions</h2>

  <p>
    Ultrawider requests only the necessary permissions to function properly.
    These permissions are explicitly specified during the installation process,
    and the app does not misuse them for data collection purposes.
  </p>

  <h2>4. Third-Party Services</h2>

  <p>
    Ultrawider does not integrate with any third-party services or applications
    that might compromise your privacy. We do not share any data with external
    entities.
  </p>

  <h2>5. Security</h2>

  <p>
    Although Ultrawider does not collect any data, we take the security of our
    app seriously. We implement industry-standard security measures to protect
    the integrity of the application and ensure it is free from vulnerabilities.
  </p>

  <h2>6. Updates to Privacy Policy</h2>

  <p>
    As Ultrawider evolves, we may update this Privacy Policy to reflect changes
    in our practices. Any updates will be communicated through the app or our
    website, and it is your responsibility to review the policy periodically.
  </p>

  <h2>7. Contact Information</h2>

  <p>
    If you have any questions or concerns regarding this Privacy Policy or the
    privacy practices of Ultrawider, please contact us at <a
      href="mailto:contact@mrlaude.com">contact@mrlaude.com</a
    >.
  </p>

  <p>
    Thank you for choosing Ultrawider. We are committed to providing you with a
    secure and private app experience.
  </p>
</Page>
