---
const today = new Date();
---

<footer>
  <p>Hello! 👋 Welcome to Martin's little site.</p>
  <p class="mt">Copyright &copy;</p>
  <p class="italics">All rights reserved.</p>
</footer>
<style>
  footer {
    margin-top: 32px;
    border-top: 2px solid var(--color-bg-dark);
    padding: 64px;
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 18px;
    max-width: none;
  }
  .mt {
    margin-top: 64px;
  }

  .italics {
    font-style: italic;
  }
</style>
