---
import { Image } from "astro:assets";
import logo from "../assets/images/favicon.png";
---

<header class="w-full py-6">
  <div
    class="container mx-auto flex max-w-screen-md flex-col items-center justify-center font-light"
  >
    <nav>
      <a href="/" class="flex flex-col items-center gap-4 hover:underline"
        ><Image
          src={logo}
          alt="logo"
          width={128}
          height={128}
          class="h-8 w-8"
        />
        {
          Astro.url.pathname !== "/" && (
            <p class="text-black dark:text-white">Martin Ryberg Laude</p>
          )
        }
      </a>
    </nav>
  </div>
</header>
