.header {
  padding: 0 16px;
  background: var(--color-bg);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header li {
    margin: 0;
}

.header button:hover {
  cursor: pointer;
}

.nav {
  width: 100%;
}

.wideNav {
  width: 528px;
}

.header ul {
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.mobileUl {
  display: flex;
  z-index: 10;
  background-color: var(--color-bg);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
}
.desktopUl {
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  border-radius: 6px;
  padding: 8px 12px;
  text-decoration: none;
  color: var(--color-text-4);
  font-weight: 700;
  font-size: 18px;
  transition: none;
}

.line {
  flex-grow: 1;
  height: 2px;
  background: var(--color-text-3);
  animate: slideIn 0.3 ease-in-out forwards;
}

.link:hover {
  background: var(--color-bg-dark);
}
[aria-current="page"] {
  color: var(--color-text-1);
  background: none;
}
.rightLink {
  width: 24px;
  color: var(--color-text-1);
}
.rightLink svg {
  width: 24px;
  height: 24px;
}
.burgerMenu {
  z-index: 11;
  padding: 8px;
  background: none;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
}
.burgerSvg {
  top: 0;
  left: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  fill: var(--color-text-1);
}

@media (min-width: 600px) {
  .mobileUl {
    display: none;
  }
  .header {
    padding: 0 36px;
    margin-top: 8px;
  }
  .desktopUl {
    display: flex;
    position: static;
    width: auto;
    flex-direction: row;
    gap: 16px;
  }
  .burgerMenu {
    display: none;
  }
  .rightLink {
    width: 28px;
    color: var(--color-text-3);
  }
  .rightLink svg {
    width: 28px;
    height: 28px;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}