@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Variable.woff2) format(woff2);
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-VariableItalic.woff2) format(woff2);
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "FiraCode";
  src: url(/fonts/FiraCode-VF.woff2) format(woff2);
  font-weight: 300 900;
  font-display: swap;
  font-style: monospace;
}

@font-face {
  font-family: "Butler";
  src: url(/fonts/Butler-UltraLight.woff2) format(woff2);
  font-display: swap;
  font-style: normal;
}