---
import Page from "./Page.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    updatedDate?: string;
    author: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, author },
} = Astro.props;
---

<Page title="Blog">
  <address class="author">
    By <a rel="author" href="/about">{author}</a>
  </address>
  <h1 class="post-title">{title}</h1>
  <div class="dates-wrapper">
    <time>
      {
        new Date(pubDate).toLocaleString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
        })
      }
    </time>
    {
      updatedDate && (
        <p class="updatedDate">
          Updated:
          <time>
            {new Date(updatedDate).toLocaleString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })}
          </time>
        </p>
      )
    }
  </div>
  <p class="desc">{description}</p>
  <slot />
</Page>
