---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en" class="min-h-[100vh] bg-[#f5f4f0] font-mono">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-[100vh]">
    <Header />
    <main class="mx-auto max-w-screen-md px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
