---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="page">
    <div class="page-container">
      <Header client:load activeTag={title} />
      <main class="wrapper">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
